@charset "UTF-8";

.icons__button{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login__icons .icons__button:nth-child(1){
    background-color: var(--blue);
}

.login__icons .icons__button:nth-child(2){
    background-color: var(--light-grey);
}

.login__icons .icons__button:nth-child(3){
    background-color: var(--black);
}
