@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.container__nav {
  width: 30%;
}

.container__main {
  display: flex;
}

.container__nav > img {
  margin: 20px 0 0 150px;
}

.container__left {
  width: 30%;

  margin: 35px 100px 0 150px;
}

.title__main {
  font-size: 60px;
  font-weight: 600;
  color: #2b2b43;
}

.paragraph__description {
  width: 350px;

  font-size: 16px;
  font-weight: 500;
  color: #545563;

  margin-top: 16px;
}

.container__form {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.label__form {
  font-size: 16px;
  font-weight: 600;
  color: #545563;

  margin-bottom: 4px;
}

.input__form {
  font-size: 14px;
  color: #2b2b43;

  border: 1px solid #c7c8d2;
  border-radius: 8px;

  outline: none;

  padding: 12px;

  width: 350px;

  margin-bottom: 20px;
}

.input__form::placeholder {
  color: #83859c;
}

.input-icon {
  position: relative;

  width: fit-content;
}

.input-icon i {
  position: absolute;
  transform: translateY(-50%);

  right: 20px;
  top: 35%;

  color: #c7c8d2;

  cursor: pointer;
}

.container__check {
  font-weight: 500;
  color: #2b2b43;

  font-weight: 500;

  margin-top: 15px;
}

.container__check > input {
  cursor: pointer;
}

.btn__login {
  width: 376px;
  height: 40px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  padding: 12px 0 12px 0;

  border: none;
  border-radius: 8px;

  background-color: #4e60ff;

  margin-top: 25px;

  cursor: pointer;
}

.forgot__pass {
  width: 376px;

  font-size: 16px;
  font-weight: 600;
  color: #4e60ff;

  border: none;
  background-color: transparent;

  margin-top: 20px;

  cursor: pointer;
}

.create__account {
  width: 376px;

  font-size: 15px;
  font-weight: 400;
  color: #545563;

  border: none;
  background-color: transparent;

  margin-top: 20px;
}

.emphasis {
  font-weight: 600;
  color: #4e60ff;

  cursor: pointer;
}

.container__right {
  width: 100%;
  height: 100vh;

  margin-top: -63px;

  background-color: #697bff;
}

.container__overall_rating {
  width: 310px;
  height: 430px;

  background-color: #fff;

  border-radius: 15px;

  margin: 30px 0 0 95px;
}

.spet__bar {
  position: relative;
  /* height: 100%; */
}

.spet__bar > h2 {
  font-size: 16px;
  font-weight: 700;

  color: #2b2b43;

  padding: 14px;
}

.btn__review {
  width: 100px;

  font-size: 14px;
  font-weight: 700;
  color: #4e60ff;

  background-color: transparent;

  border: 1.5px solid #4e60ff;
  border-radius: 10px;

  padding: 10px;

  cursor: pointer;

  align-items: end;

  position: absolute;
  left: 190px;

  margin-top: -30px;
}

.container__nota {
  display: flex;

  gap: 10px;
}

.nota {
  font-size: 24px;
  font-weight: 500;
  color: #4e60ff;

  margin-left: 14px;
}

.votes {
  font-size: 9px;
  font-weight: 700;
  color: #83859c;

  margin-top: 8px;
}

.bar {
  width: 100%;
  height: 1px;
  background-color: #edeef2;

  margin-top: 15px;
}

.container__sort {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.btn__sort {
  font-size: 12px;
  font-weight: 600;
  color: #2b2b43;

  border: 2px solid #c7c8d2;
  border-radius: 8px;

  background-color: transparent;

  padding: 10px 30px 10px 15px;
}

.emphasis__sort {
  color: #83859c;
}

.btn__icon {
  position: relative;

  width: fit-content;
}

.btn__icon > i {
  font-size: 12px;

  position: absolute;
  transform: translateY(-50%);

  right: 10px;
  top: 55%;

  color: #83859c;

  cursor: pointer;
}

.container__review {
  margin: 20px 0 0 18px;
}

.container__review > img {
  display: inline;
}

.container__perfil {
  display: flex;
}

.title__name {
  display: inline;

  font-size: 15px;
  font-weight: 700;
  color: #2b2b43;

  margin-left: 10px;
}

.stars__nota {
  margin-top: 0.625rem;
  margin-left: -6.5rem;
}

.stars__nota_man {
  margin-top: 0.625rem;
  margin-left: -5.7rem;
}

.votes__review {
  font-size: 9px;
  font-weight: 700;
  color: #83859c;

  margin-top: 1.15rem;
  margin-left: 8px;
}

.paragraph__review {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.09px;
  color: #2b2b43;

  width: 220px;

  margin-left: 2.8125rem;
}

.jowel__review {
  display: flex;

  margin: 0.75rem 0 0 4rem;
}

.jowel {
  height: 15px;
}

.number__jowel_up {
  font-size: 14px;
  font-weight: 500;
  color: #545563;

  margin: 2px 0 0 7px;
}

.jowel__down {
  height: 17px;


  margin-left: 15px;
}

.number__jowel_down {
  font-size: 14px;
  font-weight: 500;
  color: #83859c;

  margin: 2px 0 0 7px;
}
