.container__main {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header"
    "btns"
    "experience"
    "info";

  padding: 40px 32px;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-area: btns;

    gap: 1.5rem;

    width: 100%;
  }

  .btn__primary {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    text-transform: uppercase;
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;

    width: 20.3125rem;

    background: linear-gradient(90deg, #777cf4 2.62%, #f47777 93.38%);

    border: none;
    border-radius: 1.5rem;

    padding: 0.75rem;

    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .container__main {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 60% 30%;
    grid-template-areas:
      "header info"
      "experience btns"
      "empty empty";

    height: 100vh;
    align-items: start;
    justify-items: start;
    justify-content: space-between;
    padding: 70px 60px;
  }
}
