@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.container__nav {
  display: flex;
}

.logo {
  padding: 1.25rem 0 1.25rem 10.3125rem;

  cursor: pointer;
}

.input__nav {
  width: 14.375rem;
  height: 1.5625rem;

  font-size: 0.9375rem;
  font-weight: 500;
  color: #2b2b43;

  border: none;
  border-radius: 0.625rem;
  outline: none;

  background-color: #edeef2;

  padding: 0.625rem 0 0.625rem 0.75rem;

  margin: 1.25rem 0 1.25rem 3.125rem;
}

.input__nav::placeholder {
  color: #83859c;
}

.container__icon {
  position: relative;

  width: fit-content;
}

.container__icon i {
  position: absolute;
  transform: translateY(-50%);

  font-size: 0.9375rem;
  color: #83859c;

  right: 1.25rem;
  top: 50%;

  color: #c7c8d2;

  cursor: pointer;
}

.container__options_nav {
  display: flex;
  align-items: center;

  gap: 1.25rem;

  margin-left: 18.75rem;
}

.container__options_nav > p {
  font-size: 1rem;
  font-weight: 700;
  color: #2b2b43;

  cursor: pointer;
}

.container__options_nav > .bar {
  width: 0.0625rem;
  height: 2rem;
}

.container__bag {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.25rem;
  margin-left: 1.5rem;

  border-radius: 0.625rem;

  background-color: #f3f4ff;

  cursor: pointer;
}

.container__count {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5625rem;
  height: 1.5625rem;

  position: relative;
  top: 0.9375rem;
  right: 0.75rem;

  font-size: 0.8125rem;
  font-weight: 700;
  color: #fff;

  border-radius: 0.5rem;

  background-color: #4e60ff;

  text-align: center;
}

.avatar {
  width: 3rem;
  height: 3rem;

  border-radius: 1rem;
  border: 0.125rem solid #edeef2;

  margin-top: 1.25rem;

  cursor: pointer;
}

.bar {
  width: 100%;
  height: 0.0813rem;

  background-color: #edeef2;

  border-radius: 0.3125rem;
}

.container__article {
  display: flex;

  gap: 30px;

  margin-top: 1.5rem;
  margin-left: 10.3125rem;
}

.container__deserty {
  display: flex;

  width: 550px;
  height: 188px;

  background-color: #f3f4ff;

  border-radius: 16px;
}

.description__deserty {
  display: flex;
  flex-direction: column;
}

.all {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #2b2b43;

  margin-top: 24px;
}

.discount {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  color: #4e60ff;

  margin-top: 8px;
}

.category {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #83859c;

  margin-top: 36px;
}

.container__fooddie {
  display: flex;

  width: 550px;
  height: 188px;

  background-color: #fff3ed;

  border-radius: 16px;
}

.description__fooddie {
  display: flex;
  flex-direction: column;
}

.description__fooddie > .discount {
  color: #fd6d22;
}
