.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  gap: 1.5rem;

  img {
    border-radius: 1.5rem;
  }

  h1 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.625rem;
    color: var(--text-primary);
  }

  h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: var(--text-secondary);
  }

  @media (min-width: 48rem) {
    flex-direction: row-reverse;
    align-items: center;

    img {
      border-radius: 100%;
      border: .125rem solid #fff;
    }

    h1 {
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 3.375rem;
    }

    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.875rem;
      line-height: 2.8125rem;
    }
  }
}
