@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.container__nav {
  display: flex;
}

.logo {
  padding: 1.25rem 0 1.25rem 10.3125rem;

  cursor: pointer;
}

.input__nav {
  width: 14.375rem;
  height: 1.5625rem;

  font-size: 0.9375rem;
  font-weight: 500;
  color: #2b2b43;

  border: none;
  border-radius: 0.625rem;
  outline: none;

  background-color: #edeef2;

  padding: 0.625rem 0 0.625rem 0.75rem;

  margin: 1.25rem 0 1.25rem 3.125rem;
}

.input__nav::placeholder {
  color: #83859c;
}

.container__icon {
  position: relative;

  width: fit-content;
}

.container__icon i {
  position: absolute;
  transform: translateY(-50%);

  font-size: 0.9375rem;
  color: #83859c;

  right: 1.25rem;
  top: 50%;

  color: #c7c8d2;

  cursor: pointer;
}

.container__options_nav {
  display: flex;
  align-items: center;

  gap: 1.25rem;

  margin-left: 18.75rem;
}

.container__options_nav > p {
  font-size: 1rem;
  font-weight: 700;
  color: #2b2b43;

  cursor: pointer;
}

.container__options_nav > .bar {
  width: 0.0625rem;
  height: 2rem;
}

.container__bag {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.25rem;
  margin-left: 1.5rem;

  border-radius: 0.625rem;

  background-color: #f3f4ff;

  cursor: pointer;
}

.container__count {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5625rem;
  height: 1.5625rem;

  position: relative;
  top: 0.9375rem;
  right: 0.75rem;

  font-size: 0.8125rem;
  font-weight: 700;
  color: #fff;

  border-radius: 0.5rem;

  background-color: #4e60ff;

  text-align: center;
}

.avatar {
  width: 3rem;
  height: 3rem;

  border-radius: 1rem;
  border: 0.125rem solid #edeef2;

  margin-top: 1.25rem;

  cursor: pointer;
}

.bar {
  width: 100%;
  height: 0.0813rem;

  background-color: #edeef2;

  border-radius: 0.3125rem;
}

.container__main {
  display: flex;
}

.container__settings {
  width: 28%;

  margin-top: 24px;
  margin-left: 165px;
}

.container__settings > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.01px;
  color: #2b2b43;
}

.container__options {
  display: flex;
  align-items: center;

  width: 350px;
  height: 72px;

  border: 1px solid #edeef2;
  border-radius: 16px;

  margin-top: 16px;

  cursor: pointer;
}

.container__img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  margin-left: 16px;

  border-radius: 12px;

  background-color: #edeef2;
}

.container__options:hover {
  background-color: #f3f4ff;
  border: 2px solid #4e60ff;
}

.container__options:hover .container__img {
  background-color: #4e60ff;
}

.container__options:hover .icon {
  filter: brightness(0) invert(1);
}

.container__description {
  padding-left: 12px;
}

.container__description > h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01px;
  color: #2b2b43;

  margin-bottom: 2px;
}

.container__description > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02px;
  color: #545563;
}

.container__account {
  margin-top: 24px;
}

.container__account > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.01px;
  color: #2b2b43;
}

.container__content {
  height: 480px;
  width: 730px;

  border: 1px solid #edeef2;
  border-radius: 16px;

  margin-top: 16px;
}

.container__content > h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01px;
  color: #2b2b43;

  padding: 24px 0 0 16px;
}

.sym__avatar {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #545563;

  padding: 16px 0 0 16px;
}

.change__avatar {
  display: flex;
  align-items: center;
}

.change__avatar > img {
  width: 88px;
  height: 88px;

  border-radius: 12px;

  margin-top: 8px;
  margin-left: 16px;
}

.btn__change {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  line-height: 0.03px;
  color: #83859c;

  border: none;

  width: 83px;
  height: 44px;

  background-color: transparent;

  margin-left: 24px;

  cursor: pointer;
}

.btn__change:hover {
  color: #4e60ff;

  border: 1px solid #4e60ff;
  border-radius: 8px;
}

.btn__remove {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  line-height: 0.03px;
  color: #83859c;

  border: none;

  width: 83px;
  height: 44px;

  background-color: transparent;

  cursor: pointer;
}

.btn__remove:hover {
  color: #4e60ff;

  border: 1px solid #4e60ff;
  border-radius: 8px;
}

.container__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}